@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  /* color: rgb(73, 186, 231); */
  /* text-decoration: underline; */
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.shadow-up {
  box-shadow: 0 -4px 15px 0 rgb(0 0 0 / 0.1)
}

@layer utilities {
  .spaced-scrollbar::-webkit-scrollbar {
    width: 20px;
}
.spaced-scrollbar::-webkit-scrollbar-thumb {
  background: skyblue;
  background-clip: content-box;
  border-left: 3px solid transparent;
}
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
